# Code Along - Pandas - Bank Market Analysis

In [15]:
# Path for the Dataset:

path = "c:/users/kruti karia/desktop/bank.csv"

In [16]:
# Import the Packages/Modules

import numpy as np
import pandas as pd

In [17]:
# Read the data & use the `delimeter = ';'`.


data = pd.read_csv(path,sep=';')

In [52]:
# Data Attributes
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

In [23]:
# Replace the `unknown` values with the `Nan` and check the value count of missing values and drop the missing rows

data.replace('unknown','Nan',inplace=True)
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [30]:
# Replace the column name from `loan` to `previous_loan_status` and `y` to `loan_status` 

data.rename(columns={'loan':'previous_loan_status','y':'loan_status'},inplace=True)
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'previous_loan_status', 'contact', 'day', 'month', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome', 'loan_status'],
      dtype='object')

In [109]:
# Find out the information of the `job` column.

print(data['job'].nunique())
print(data['job'].unique())
print(data['job'].value_counts())

12
['unemployed' 'services' 'management' 'blue-collar' 'self-employed'
 'technician' 'entrepreneur' 'admin.' 'student' 'housemaid' 'retired'
 'Nan']
management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
Nan               38
Name: job, dtype: int64

In [114]:
# Check the `loan_status`  approval rate by `job`

loan_status_count = data.groupby('job').loan_status.value_counts(normalize=True)
print(loan_status_count)

job            loan_status
Nan            no             0.815789
               yes            0.184211
admin.         no             0.878661
               yes            0.121339
blue-collar    no             0.927061
               yes            0.072939
entrepreneur   no             0.910714
               yes            0.089286
housemaid      no             0.875000
               yes            0.125000
management     no             0.864809
               yes            0.135191
retired        no             0.765217
               yes            0.234783
self-employed  no             0.890710
               yes            0.109290
services       no             0.908873
               yes            0.091127
student        no             0.773810
               yes            0.226190
technician     no             0.891927
               yes            0.108073
unemployed     no             0.898438
               yes            0.101562
Name: loan_status, dtype: float64

In [118]:
# Check the percentage of loan approved by `education`

loan_app_ed = data[data['loan_status']=='yes']['education'].value_counts(normalize=True)
print("Percentage of loan approved by education is \n",loan_app_ed)

Percentage of loan approved by education is
 secondary    0.470250
tertiary     0.370441
primary      0.122841
Nan          0.036468
Name: education, dtype: float64

In [123]:
# Check the percentage of loan approved by `previous loan status`
loan_app_ls = data[data['loan_status']=='yes']['previous_loan_status'].value_counts(normalize=True)
print("Percentage of loan approved by previous loan status is \n",loan_app_ls)

Percentage of loan approved by previous loan status is
 no     0.917466
yes    0.082534
Name: previous_loan_status, dtype: float64

In [124]:
# Create a pivot table between `loan_status` and `marital ` with values form `age`

pvt_table = pd.pivot_table(data,index = 'loan_status',values='age',columns='marital')
print("Pivot table between loan_status and martital with values from age is \n",pvt_table)

Pivot table between loan_status and martital with values from age is
 marital       divorced    married     single
loan_status
no           44.864745  43.172222  33.978620
yes          49.051948  46.021661  33.610778

In [128]:
# Loan status based on marital status whose status is married

loan_stat=data[data['marital'].apply(lambda marital: marital == 'married')]
marital_status_summery= loan_stat['loan_status'].value_counts()
print ("Loan status based on marital status is married are \n", marital_status_summery)

Loan status based on marital status is married are
 no     2520
yes     277
Name: loan_status, dtype: int64