# Project : Loan Approval Analysis

# Load the data
Let's check which variable is categorical and which one is numerical so that you will get a basic idea about the features of the bank dataset.

Instructions :
The path for the dataset has been stored in a variable path

Create dataframe bank by passing the path of the file

Create the variable 'categorical_var' and using 'df.select_dtypes(include = 'object')' check all categorical values.

print 'categorical_var'

Create the variable 'numerical_var' and using 'df.select_dtypes(include = 'number')' check all categorical values.

print 'numerical_var'

In [1]:
# Filepath for the Data:

path = "c:/users/kruti karia/desktop/loan_prediction.csv"

In [29]:
# Import Packages/Modules:

import numpy as np
import pandas as pd

In [67]:
# Load the DataSet:

bank = pd.read_csv(path)
bank.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [68]:
# Check the Dataframe Atributes:

bank.shape
bank.info()
bank.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [69]:
# Display categorical variable

categorical_var = bank.select_dtypes(include = 'object')
print(categorical_var.columns)

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [70]:
#Display Numerical variable

numerical_var = bank.select_dtypes(include = 'number')
print(numerical_var.columns)

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

# Something is Missing!
Sometimes customers forget to fill in all the details or they don't want to share other details. Because of that, some of the fields in the dataset will have missing values. Now you have to check which columns have missing values and also check the count of missing values each column has. If you get the columns that have missing values, try to fill them.

Instructions :
From the dataframe bank, drop the column Loan_ID to create a new dataframe banks

To see the null values, use "isnull().sum()" function and print it.

Calculate mode for the dataframe banks and store in bank_mode

Fill missing(NaN) values of banks with bank_mode and store the cleaned dataframe back in banks.

Check if all the missing values (NaN) are filled.

In [71]:
# load the dataset and drop the Loan_ID

banks= bank.drop(columns='Loan_ID')

In [81]:
# check  all the missing values filled.

print(banks.isnull().sum())

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           21
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [82]:
# apply mode 

bank_mode = banks.mode().iloc[0]

In [83]:
# Fill the missing values with 

banks.fillna(bank_mode,inplace=True)

In [84]:
# check again all the missing values filled.

print(banks.isnull().sum())

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# Loan Amount vs Gender
Now let's check the loan amount of an average person based on 'Gender', 'Married', 'Self_Employed'. This will give a basic idea of the average loan amount of a person.

Instructions :
We will use previously created dataframe banks for this task.

Generate a pivot table with index as 'Gender', 'Married', 'Self_Employed' and values as 'LoanAmount', using mean aggregation

Store the result in a variable called 'avg_loan_amount'

In [89]:
# check the avg_loan_amount

avg_loan_amount = pd.pivot_table(banks,index = ['Gender','Married','Self_Employed'],values = 'LoanAmount',aggfunc='mean')
print(avg_loan_amount)

                              LoanAmount
Gender Married Self_Employed
Female No      No             114.768116
               Yes            125.272727
       Yes     No             133.714286
               Yes            282.250000
Male   No      No             129.508621
               Yes            180.588235
       Yes     No             152.608150
               Yes            167.420000

# Loan Approval vs Employment
Now let's check the percentage of loan approved based on a person's employment type.

Instructions:
We will use the previously created dataframe banks for this task.

Create variable 'loan_approved_se' and store the count of results where Self_Employed == Yes and Loan_Status == Y.

Create variable 'loan_approved_nse' and store the count of results where Self_Employed == No and Loan_Status == Y.

Loan_Status count is given as 614.

Calculate the percentage of loan approval for self-employed people and store result in variable 'percentage_se'.

Calculate the percentage of loan approval for people who are not self-employed and store the result in variable 'percentage_nse'

In [93]:
# code for loan aprroved for self employed

loan_approved_se = banks.loc[(banks["Self_Employed"]=="Yes")  & (banks["Loan_Status"]=="Y"), ["Loan_Status"]].count()
print(loan_approved_se)

Loan_Status    56
dtype: int64

In [97]:
# code for loan approved for non self employed

loan_approved_nse = banks.loc[(banks["Self_Employed"]=="No")  & (banks["Loan_Status"]=="Y"), ["Loan_Status"]].count()
print(loan_approved_nse)

Loan_Status    366
dtype: int64

In [100]:
# percentage of loan approved for self employed

percentage_se = (loan_approved_se/614)*100
print(percentage_se[0])

9.120521172638437

In [101]:
#percentage of loan for non self employed

percentage_nse = (loan_approved_nse/614)*100
print(percentage_nse[0])

59.60912052117264

# Transform the loan tenure from months to years
A government audit is happening real soon! So the company wants to find out those applicants with long loan amount term.

Instructions:
Use "apply()" function to convert Loan_Amount_Term which is in months to a year and store the result in a variable 'loan_term'.

Find the number of applicants having loan amount term greater than or equal to 25 years and store them in a variable called 'big_loan_term'.

In [102]:
# loan amount term 

loan_term = banks['Loan_Amount_Term'].apply(lambda x: int(x)/12)
print(loan_term)

0      30.0
1      30.0
2      30.0
3      30.0
4      30.0
       ...
609    30.0
610    15.0
611    30.0
612    30.0
613    30.0
Name: Loan_Amount_Term, Length: 614, dtype: float64

In [105]:
# Check for big term loan:

big_loan_term = len(loan_term[loan_term>=25])
print(big_loan_term)

554

# Income/ Credit History vs Loan Amount
Now let's check the average income of an applicant and the average loan given to a person based on their income.

Instructions :
Groupby the 'banks' dataframe by Loan_Status and store the result in a variable called 'loan_groupby'

Subset 'loan_groupby' to include only ['ApplicantIncome', 'Credit_History'] and store the subsetted dataframe back in 'loan_groupby'

Then find the mean of 'loan_groupby' and store the result in a new variable 'mean_values'

In [106]:
# Groupby the Dataframe:

loan_groupby = banks.groupby(['Loan_Status'])

In [107]:
# Subset the Groupby Dataframe:

loan_groupby = loan_groupby[['ApplicantIncome','Credit_History']]

In [108]:
# Calculate the mean:

mean_values = loan_groupby.mean()
print(mean_values)

             ApplicantIncome  Credit_History
Loan_Status
N                5446.078125        0.572917
Y                5384.068720        0.983412